<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!-- Bootstrap CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <script th:src="@{/js/common.js}"></script>
</head>
<body class="bg-light">

<div class="container mt-5" sec:authorize="hasRole('USER')">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="mb-3">Welcome, <span sec:authentication="name">User</span>!</h1>
                    <p class="text-muted">You have successfully logged in.</p>
                    <!-- Raffle table -->
                    <h4 class="mb-3">Available Raffles</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="raffle, stat : ${raffles}">
                                <td th:text="${raffle.id}">raffle_ID</td>
                                <td th:text="${raffle.name}">raffle_name</td>
                                <td class="text-center align-middle">
                                    <a th:href="@{/raffle/{id}(id=${raffle.id})}"
                                       class="btn btn-sm btn-outline-primary">View</a>
                                    <a th:attr="data-id=${raffle.id}"
                                       th:text="${!raffle.closed} ? (${raffle.alreadyApplied() ? 'Applied' : 'Apply'}): (${raffle.canceled} ? 'Canceled' : 'Closed')"
                                       th:classappend="${raffle.closed() || raffle.alreadyApplied()} ? 'disabled' : ''"
                                       th:hidden="${(#authorization.expression('hasRole(''ADMIN'')')) && !raffle.closed}"
                                       class="btn btn-sm btn-outline-primary apply-button">Button text placeholder</a>
                                    <a sec:authorize="hasRole('ADMIN')"
                                       th:href="@{/raffle/{id}/edit(id=${raffle.id})}"
                                       th:text="Edit"
                                       th:hidden="${raffle.closed}"
                                       class="btn btn-sm btn-primary">Button text placeholder</a>
                                    <a sec:authorize="hasRole('ADMIN')"
                                       th:href="@{/raffle/{id}(id=${raffle.id})}"
                                       th:text="Draw"
                                       th:hidden="${raffle.closed}"
                                       class="btn btn-sm btn-primary">Button text placeholder</a>
                                    <a sec:authorize="hasRole('ADMIN')"
                                       th:href="@{/raffle/{id}(id=${raffle.id})}"
                                       th:text="Close"
                                       th:hidden="${raffle.closed}"
                                       class="btn btn-sm btn-danger">Button text placeholder</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex mt-3"
                         th:classappend="${#authorization.expression('hasRole(''ADMIN'')')} ? 'justify-content-between' : 'justify-content-end'">
                        <!-- View Winners button on the left -->
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/raffle}" class="btn btn-info">Create Raffle</a>

                        <!-- Logout button on the right -->
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS via CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
